.main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.gridHolder{
    display: inline-block;
    border: 5px solid palevioletred;
    border-radius: 10px;
    padding: 10px;
}

.tile {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 5px;
    margin-inline: 1px;
}
