.main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.gridHolder{
    display: flex;
    width: 600px;
    height: 600px;
    border: 5px solid;
}