.main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.gridHolder{
    display: inline-block;
}

.tile {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 5px;
    margin-inline: 3px;
  }